<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    
<joint name="camera_joint" type="fixed">
    <parent link="chassis"/>
    <child link="camera_link"/>
    <origin xyz="0.305 0.0 0.08" rpy="0.0 0.018 0.0"/>
</joint>
<link name="camera_link">
      <visual>
            <geometry>
               <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="black"/>
        </visual>
        
</link>
<joint name="camera_opticcal_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
</joint>
<link name="camera_optical_link">
</link>

<gazebo reference="camera_link">
  <sensor type="camera" name="camera">
  <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <visualize>false</visualize>
      <updateRate>10</updateRate>
      <camera>
          <horizontal_fov>1.089</horizontal_fov>
          <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
          </image>
         
          <clip>
              <near>0.05</near>
              <far>10</far>
          </clip>
      </camera>
 <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
   
        <frameName>camera_optical_link</frameName>
       
      </plugin>
    </sensor>
 
</gazebo>
</robot>