<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rd_bot_1.0M"  >
    
    <xacro:include filename="$(find mobile_bot)/urdf/robot_core.xacro"/>
   <xacro:include filename="$(find mobile_bot)/urdf/gazebo_control.xacro"/>
    <xacro:include filename="$(find mobile_bot)/urdf/lidar.xacro"/>
    <xacro:include filename="$(find mobile_bot)/urdf/camera.xacro"/>
    <xacro:include filename="$(find mobile_bot)/urdf/camera_depth.xacro"/>
</robot>