<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_bot">
    <xacro:macro name="link_cylinder" params="name origin_xyz rpy radius length mass ixx ixy ixz iyy iyz izz">
        <link name="${name}">
        <inertial>
            <origin xyz="${origin_xyz}" rpy="${rpy}"/>
            <mass value="${mass}"/>
            <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
        </inertial>
             <visual>
        <geometry>
            <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <origin xyz="${origin_xyz}" rpy="${rpy}"/>
    </visual>
    <collision>
               <geometry>
            <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <origin xyz="${origin_xyz}" rpy="${rpy}"/>
    </collision>
        </link>
    </xacro:macro>
    <xacro:macro name="link_box" params="name origin_xyz rpy size mass ixx ixy ixz iyy iyz izz">
        
<link name="${name}">
        <inertial>
            <origin xyz="${origin_xyz}" rpy="${rpy}"/>
            <mass value="${mass}"/>
            <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
        </inertial>
    <visual>
        <geometry>
            <box size="${size}"/>
        </geometry>
        <origin xyz="${origin_xyz}" rpy="${rpy}"/>
    </visual>
    <collision>
      <geometry>
            <box size="${size}"/>
        </geometry>
        <origin xyz="${origin_xyz}" rpy="${rpy}"/>
    </collision>
</link>    
    </xacro:macro>

    <xacro:macro name="joints" params="name type par child limit_l limit_u effort velocity origin rpy xyz">
    
<joint name="${name}" type="${type}">
    <parent link="${par}"/>
    <child link="${child}"/>
    <axis xyz="${xyz}"/>
    <limit lower="${limit_l}" upper="${limit_u}" effort="${effort}" velocity="${velocity}"/>
    <origin xyz="${origin}" rpy="${rpy}"/>
    
</joint>
        
    </xacro:macro>
</robot>
